.btn {
  border: 1px solid #333333;
  margin: 0px 8px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: opacity .2s ease;
}
.btn:hover {
  color: #ffffff;
  opacity: 0.8;
}
.hover-button {
  background-color: #ee0033;
  color: #ffffff;
  border: 1px solid #ee0033;
}

.how-it-work .btn {
  padding: 16px 49px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-decoration: #fff5f5;
  z-index: 3;
}

.contact-info .btn {
  padding: 12px 8px;
  margin: 16px 12px;
  width: auto;
}

.contact-info .btn:hover {
  color: #ffffff;
}

footer .btn:hover {
  color: #333333;
}
footer ul li .btn {
  padding: 16px;
  display: inline-block;
}
