.ico-hash {
  background: url("../../icon/hash.svg") no-repeat;
  height: 24px;
  width: 24px;
}

.ico-locate {
  background: url("../../icon/map-pin.svg") no-repeat;
}

.ico-email {
  background: url("../../icon/mail.svg") no-repeat;
  padding: 0px 13px 15px 8px;
}

.fas,
.fa-solid {
  padding: 0px 13px 0 3px;
  font-size: 21px;
}
