.frame51 {
  background-image: url(../../img/Frame51.png);
  width: 316px;
  height: 54px;
}

.group33499 {
  background-image: url(../../img/group33499.png);
  width: 1921px;
  height: 515px;
  /* position: absolute;
  z-index: -1;
  left: 0;
  top: 80px; */
}
