.wrapper-show {
  width: 450px !important;
}

.wrapper-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 800;
  inset: 0px;
}

header .nav-mobile {
  font-size: 24px;
  display: none;
}

header .nav-mobile i {
  cursor: pointer;
  z-index: 1001;
  font-size: 28px;
}

header .nav-mobile .wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  width: 0;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 0;
}

header .nav-mobile .nav_phone-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
}

header .nav-mobile img {
  max-width: 200px;
}

header .nav-mobile i {
  cursor: pointer;
  z-index: 1001;
  font-size: 28px;
}

header .nav-mobile ul {
  padding: 15px 15px 0;
}

header .nav-mobile ul li {
  text-align: left;
  padding: 0;
  font-weight: 600;
}

header .nav-mobile ul li:hover {
  color: #EE0033;
}

header .nav-mobile ul li::after {
  display: none !important;
}

header .nav-mobile ul li:not(:last-child) {
  margin-bottom: 20px;
}
