ngx-slick-carousel img {
  cursor: pointer;
}
body .slick-prev,
body .slick-next {
  width: 41px;
  height: 41px;
  opacity: 0.3;
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 100;
  border-radius: 50%;
  position: absolute;
  top: 40%;
}
body .slick-prev::before,
body .slick-next::before {
  content: "" !important;
}
body .slick-prev:hover,
body .slick-next:hover {
  opacity: 0.5;
}
.slick-prev {
  background: url(../../img/prev.png) !important;
  background-color: #808080 !important;
}
.slick-next {
  background: url(../../img/next.png) !important;
  background-color: #808080 !important;
}

.slick-list {
  margin: 0px 24px !important;
}

.slick-dots {
  bottom: -45px !important;
}

.slick-dots li {
  margin: 0 !important;
}
.slick-dots li button:before {
  font-size: 14px !important;
  line-height: 14px !important;
}
.slick-dots li.slick-active button:before {
  color: #ee0033 !important;
  opacity: 1 !important;
}

.slick-dots li button:before {
  color: #ee0033 !important;
}
