@media screen and (max-width: 1850px) {
  .advise-photo img {
    display: none;
  }
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1570px) {
  header ul li {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1439px) {
  .inner {
    max-width: 1500px;
  }
  header .inner {
    height: 100px;
  }
  header ul li {
    padding: 0 10px;
  }
  header .navbar .register {
    margin-left: 30px;
  }
  header ul li:not(:first-child)::after {
    left: -2px;
  }
  .header-logo h6 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) and (max-width: 1320px) {
}

@media screen and (max-width: 1239px) {
  header .nav-mobile {
    display: block;
    text-align: end;
    padding-top: 8px;
  }
  header .navbar {
    display: none;
  }
  header .inner {
    justify-content: space-between;
  }
  .header-right {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .header-left {
    flex: 0 0 75%;
    max-width: fit-content;
  }
  .how-it-work {
    padding-bottom: 120px;
  }
  .advise-banner {
    background: #bf1d24 !important;
    padding-top: 60px;
  }
}

@media screen and (max-width: 1158px) {
  .how-it-work .hd-i {
    max-height: 249px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
  .how-it-work .hd-i {
    min-height: 300px;
  }
}

@media screen and (max-width: 870px) {
  main .banner .main-banner {
    background: url("../../img/group33499-md.png") no-repeat center;
    width: 100%;
    height: 100%;
  }
  main .service-menu {
    padding: 30px 0px 30px 0px;
  }

  footer .social {
    margin: 16px 0px;
  }
}

@media screen and (max-width: 750px) {
  .how-it-work .hd-i {
    min-height: 360px;
  }
}

@media screen and (max-width: 628px) {
  .how-it-work .hd-i {
    min-height: 395px;
  }
}

@media screen and (max-width: 575px) {
  main .banner {
    height: 335px;
  }
  main .banner .main-banner {
    background: url("../../img/group33499-sm.png") no-repeat center;
    width: 100%;
    height: 80%;
    background-size: cover;
  }
  main .service-menu {
    padding: 0px 0px 30px 0px;
    margin-top: -40px;
  }
  .advise-info a {
    min-width: 256px;
    max-width: 256px;
  }
  .advise-info a {
    min-width: 200px;
  }
  .how-it-work .hd-i {
    min-height: 263px;
  }
}

@media screen and (max-width: 500px) {
  header .inner {
    height: 70px;
  }
  .header-logo img {
    max-width: 35px;
  }
  .header-logo h6 {
    margin-top: 12px;
    margin-left: 8px;
    font-size: 16px;
  }
  .inner {
    padding: 0;
  }
  .wrapper-show {
    width: 100% !important;
  }
}

@media screen and (max-width: 375px) {
}
