<header class="row justify-content-center">
  <div class="header-picture col-3 d-flex">
    <div class="frame51"></div>
  </div>
  <div class="header-menu col-4 d-flex">
    <div class="menu-danhmuc">Danh mục</div>
    <span class="dot"></span>
    <div class="menu-danhmuc">Nhà cung cấp</div>
    <span class="dot"></span>
    <div class="menu-danhmuc">Về chúng tôi</div>
    <span class="dot"></span>
    <div class="menu-danhmuc">Tin tức</div>
    <span class="dot"></span>
    <div class="menu-danhmuc">Tuyển dụng</div>
  </div>
  <div class="header-button col-2 d-flex">
    <a class="btn btn-dangky">Đăng ký</a>
    <a class="btn btn-dangnhap">Đăng nhập</a>
  </div>
</header>
<main>a</main>
<footer>a</footer>
