/* header  */
header {
  padding: 16px 0px;
  z-index: 1;
}

.header-picture {
  align-items: center;
}

header .service-menu {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

header .service-menu:hover {
  color: #ee0033;
}

.header-button {
  justify-content: center;
  align-items: center;
  padding: 24px;
}

/* main  */
main {
  padding: 0px;
  margin: 0px;
}

main .banner-title {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 64px;
  left: 394px;
  top: 260px;
  background: transparent;
  text-align: center;
}

main .banner-title > * {
  background: transparent;
}

main .banner-title b {
  background: transparent;
  color: #ee0033;
  font-size: 60px;
  line-height: 72.61px;
  font-weight: 700px;
}

main .how-it-work > * {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
  background-color: #f8f8f8;
  z-index: -1;
}

main .service-menu {
  margin-bottom: 30px;
}

main .service-menu-title,
.how-it-work-title {
  padding: 60px 0px 30px 0px;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  font-weight: bold;
}

main .service-menu img {
  padding: 0px 8px;
}

.how-it-work-banner > * {
  margin: 8px 16px;

  cursor: pointer;
}

.how-it-work-banner img:hover {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
}

.advise-banner {
  position: relative;
  padding-top: 48px;
  background-color: #bf1d24;
  margin: 0;
}

.advise-info > * {
  background-color: #bf1d24;
}

.advise-info .title {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
}

.advise-info .title > b {
  background-color: #bf1d24;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  border: none;
}

.advise-info .input-box {
  padding-top: 32px;
}

.advise-info .input-box .input-col {
  background-color: #bf1d24;
}

.advise-info .input-box input {
  margin: 10px;
  padding: 16px 16px;
  background-color: #ffffff;
  border: #ffffff;
}

.advise-info .btn-box {
  padding: 0px 44px;
}

.advise-info .input-box input:focus-visible {
  outline: none;
}

.advise-info a {
  margin-top: 16px;
  margin-bottom: 97px;
  max-width: 537px;
  background-color: #ffca0f;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.36px;
  padding: 18px 0px;
  border: none;
}

.advise-photo {
  background: transparent;
}

.advise-photo img {
  background: transparent;
}
.advise-photo .asia-girl {
  background: transparent;
  position: absolute;
  top: -390px;
  left: -120px;
  z-index: 2;
}
.advise-photo .chain {
  background: transparent;
  position: absolute;
  top: -375px;
  right: -330px;
  z-index: 1;
}
/* footer  */
footer {
  padding-top: 41px;
  padding-bottom: 32px;
  font-size: 16px;
}

footer a {
  color: #333333;
}

.contact-info {
  font-weight: bold;
}

.contact-info span {
  margin: 0px 8px;
}

.contact-info .company-name {
  color: #ee0033;
  margin-left: 8px;
}
.contact-info a {
  margin-left: 2px;
}
.company-info {
  margin-left: 8px;
}
.support {
  margin-left: 8px;
}
.social {
  margin-top: 60px;
}

.social a {
  margin-right: 32px;
}

.license {
  margin: 16px 8px;
}
