<!-- HEADER DANH MỤC  -->
<header [ngClass]="{ 'fixed': windowScrolled }">
  <div class="row inner">
    <div class="header-left col-md-4 col-sm-3 col-6">
      <a href="#" class="header-logo">
        <img src="../assets/img/header-icon.png" alt="" />
        <h6>Healthcare <span>now</span></h6>
      </a>
    </div>
    <div class="header-right col-md-8 col-sm-9 col-6">
      <div class="row navbar">
        <ul class="row">
          <li class="active">
              <a href="#danhmuc">
                  Danh mục
              </a>
          </li>
          <li>
              <a href="#dichvu">
                  Nhà cung cấp
              </a>
          </li>
          <li>
              <a href="#camnhan">
                  Về chúng tôi
              </a>
          </li>
          <li>
              <a href="#dangky">
                  Tin tức
              </a>
          </li>
          <li>
            <a href="#dangky">
                Tuyển dụng
            </a>
        </li>
      </ul>
      <div class="action">
        <button class="btn register">Đăng ký</button>
        <button class="btn login">Đăng nhập</button>
    </div>
      </div>
      <div class="nav-mobile">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </div>
</header>
<!-- MAIN DANH MỤC -->
<main class="container-fluid">
  <!-- BANNER MUA SỨC KHỎE MƯỢN HENO -->
  <div class="banner d-flex row justify-content-center align-items-center">
    <picture>
      <source
        media="(max-width: 567px)"
        srcset="../assets/img/group33499-sm.png"
      />
      <img src="../assets/img/group33499.png" />
    </picture>
  </div>
  <!-- DANH MỤC DỊCH VỤ -->
  <div class="service-menu container-fluid">
    <div class="service-menu-title">DANH MỤC DỊCH VỤ</div>
    <div
      class="service-menu-slide row justify-content-center align-items-center"
    >
      <ngx-slick-carousel
        class="carousel col-sm-7"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        ><div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" alt="" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <!-- CÁCH THỨC HOẠT ĐỘNG  -->
  <div class="how-it-work">
    <div
      class="how-it-work-title row container-fluid justify-content-center align-items-center"
    >
      CÁCH THỨC HOẠT ĐỘNG
    </div>
    <div
      class="how-it-work-banner row container-fluid justify-content-center align-items-center"
    >
      <img src="../assets/img/xetduyet.png" class="banner" />
      <img src="../assets/img/chia.png" class="banner" />
      <img src="../assets/img/trasau.png" class="banner" />
      <img src="../assets/img/phanqua.png" class="banner" />
    </div>
    <div
      class="how-it-work-button row container-fluid justify-content-center align-items-center"
    >
      <a href="#" class="btn">TRẢI NGHIỆM NGAY</a>
    </div>
  </div>
  <!-- THÔNG TIN TƯ VẤN -->
  <div
    class="advise-banner row container-fluid justify-content-center align-items-center"
  >
    <div class="advise-info col-sm-4">
      <div class="title row justify-content-center align-items-center">
        <b
          >Chăm sóc sức khỏe, sắc đẹp <br />
          của bạn ngay hôm nay.</b
        >
      </div>
      <div class="title row justify-content-center align-items-center">
        Hãy để lại liên lạc để chúng tôi tư vấn cho bạn
      </div>
      <div class="input-box row justify-content-center align-items-center">
        <div
          class="input-col col-sm-auto row justify-content-center align-items-center"
        >
          <input type="text" class="input" placeholder="Họ và tên" />

          <input type="text" placeholder="Email(nếu có)" />
        </div>
        <div
          class="input-col col-sm-auto row justify-content-center align-items-center"
        >
          <input type="text" placeholder="Số điện thoại" />
          <input type="text" placeholder="Dịch vụ quan tâm" />
        </div>
      </div>
      <div class="btn-box row justify-content-center align-items-center">
        <a href="" class="btn col-sm-12">NHẬN TƯ VẤN NGAY</a>
      </div>
    </div>
    <div class="advise-photo col-sm-4">
      <picture class="asia-girl">
        <source media="(max-width: 567px)" srcset="none" />
        <img src="../assets/img/asia-girl.png" />
      </picture>
      <picture class="chain">
        <source media="(max-width: 567px)" srcset="none" />
        <img src="../assets/img/xich.png" />
      </picture>
    </div>
  </div>
  <!-- HỆ SINH THÁI -->
  <div class="eco d-flex row justify-content-center align-items-center">
    <picture>
      <source
        media="(max-width: 567px)"
        srcset="../assets/img/Hesinhthai-sm.png"
      />
      <img src="../assets/img/Hesinhthai.png" />
    </picture>
  </div>
</main>
<!-- FOOTER DANH MỤC -->
<footer>
  <!-- PICTURE HEALTHCARE NOW -->
  <div
    class="footer-picture row justify-content-center align-items-center mb-5"
  >
    <picture class="col-sm-3 p-0 row justify-content-center align-items-center">
      <source
        media="(max-width: 567px)"
        srcset="../assets/img/Frame51-sm.png"
      />
      <img src="../assets/img/Frame51.png" />
    </picture>
    <div class="col-sm-7"></div>
  </div>
  <!-- THÔNG TIN LIÊN HỆ -->
  <div class="contact-info row justify-content-center">
    <div class="col-sm-2 ps-0">
      <a href="#" class="row col-sm-auto mb-2">Khách hàng</a>
      <a href="#" class="row col-sm-auto mb-2">Đối tác Heno</a>
      <a href="#" class="row col-sm-auto mb-2">Chính sách quyền riêng tư</a>
      <a href="#" class="row col-sm-auto mb-2">Về chúng tôi</a>
      <a href="#" class="row col-sm-auto mb-2">Liên hệ và hỗ trợ</a>
      <a href="#" class="row col-sm-auto mb-2">Điều kiện & Điều khoản</a>
    </div>
    <div class="col-sm-2 ps-0">
      <a href="#" class="row col-sm-auto mb-2">Đăng nhập dành cho khách hàng</a>
      <a href="#" class="row col-sm-auto mb-2"
        >Đăng nhập dành cho Nhà cung cấp</a
      >
      <div class="row justify-content-center align-items-center">
        <a href="#" class="btn row col-sm-auto mb-2">Tham gia cùng chúng tôi</a>
      </div>
    </div>
    <div class="support col-sm-2 ps-0">
      <div class="row col-sm-auto mb-2">
        <span><img src="../assets/img/mail.svg" /></span> <b>Hỗ trợ bán hàng</b>
      </div>

      <div class="row col-sm-auto mb-2">
        <span><img src="../assets/img/mail.svg" /></span>
        <b>Hỗ trợ nhà cung cấp</b>
      </div>
    </div>
    <div class="company-info col-sm-3">
      <div class="company-name row mb-2 row">
        <b class="row col-sm-auto">CÔNG TY CỔ PHẦN CÔNG NGHỆ HEALTHCARE NOW</b>
      </div>
      <div class="mb-2 d-flex">
        <span><img src="../assets/img/hash.svg" /></span> MST: 0109823770
      </div>
      <div class="mb-2 d-flex">
        <span><img src="../assets/img/mail.svg" /></span>
        <div>
          B-TT6-1 Khu nhà ở Him Lam Vạn Phúc, P.Vạn Phúc, Q.Hà Đông, TP.Hà Nội
        </div>
      </div>
    </div>
  </div>
  <!-- MẠNG XÃ HỘI VÀ ĐĂNG KÝ BẢN QUYỀN  -->
  <div class="social row justify-content-center align-items-center">
    <div
      class="icon-box col-sm-2 p-0 row justify-content-center align-items-center"
    >
      <a href="#"><img src="../assets/img/Facebook.png" /></a>
      <a href="#"><img src="../assets/img/YouTube.png" /></a>
      <a href="#"><img src="../assets/img/In.png" /></a>
      <a href="#"><img src="../assets/img/Instagram.png" /></a>
    </div>
    <div class="col-sm-4"></div>
    <div class="license col-sm-3">
      Copyright 2021 Healthcare Now | Đã đăng ký bản quyền
    </div>
  </div>
  <!--Message -->
  <button class="text-ring">
    <a id="text-ring" target="_blank" class="text">
      <img src="../assets/img/text.png" />
      <div class="animated host-circle"></div>
      <div class="animated host-circle-fill"></div>
    </a>
  </button>
  <!-- Back To Top Components -->
  <app-back-to-top></app-back-to-top>
</footer>
