<header class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div
      class="header-picture col-sm-auto d-flex justify-content-center align-items-center"
    >
    <picture>
      <source
        media="(max-width: 567px)"
        srcset="../assets/img/Frame51-sm.png"
      />
      <img src="../assets/img/Frame51.png" />
    </picture>
    </div>
    <div class="menu-danhmuc col-sm-auto">Danh mục</div>
    <span class="dot"></span>
    <div class="menu-danhmuc col-sm-auto">Nhà cung cấp</div>
    <span class="dot"></span>
    <div class="menu-danhmuc col-sm-auto">Về chúng tôi</div>
    <span class="dot"></span>
    <div class="menu-danhmuc col-sm-auto">Tin tức</div>
    <span class="dot"></span>
    <div class="menu-danhmuc col-sm-auto">Tuyển dụng</div>
    <div class="header-button col-sm-2 d-flex">
      <a class="btn btn-dangky">Đăng ký</a>
      <a class="btn btn-dangnhap">Đăng nhập</a>
    </div>
  </div>
</header>
<main class="container-fluid">
  <div class="banner d-flex row">
    <picture>
      <source
        media="(max-width: 567px)"
        srcset="../assets/img/group33499-sm.png"
      />
      <img src="../assets/img/group33499.png" />
    </picture>
  </div>
  <div class="service-menu"></div>
</main>
<footer></footer>
